{% extends 'base-client.html.twig' %}

{% block title %}Liste des bénéficiaires
{% endblock %}

{% block main %}
	<style>
		h1 {
			font-size: 32px;
			margin: 0 0 1vw 1.5vw;
		}

		table {
			width: 90%;
			margin: auto;
		}

		th {
			font-size: 20px;
			padding: 1vw 0;
			border: 1px solid black;
		}

		td {
			text-align: center;
			font-size: 16px;
			border: 1px solid black;
			padding: 1vh 0;
		}
	</style>
	<h1>Mes bénéficiaires</h1>
	{% if beneficiaries is empty %}
		<p>Aucun bénéficiaire trouvé.</p>
	{% else %}
		<table border="1">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Numéro de compte</th>
				</tr>
			</thead>
			<tbody>
				{% for beneficiary in beneficiaries %}
					<tr>
						<td>{{ beneficiary.name }}</td>
						<td>{{ beneficiary.bankAccountNumber }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('add_beneficiary') }}" class="inline-block bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-md transition center text-center">
			Ajouter un bénéficiaire
		</a>
	{% endif %}
{% endblock %}
