<header class="bg-green-700 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    
    <div class="flex items-center gap-4">
      <a href="{{ path('accounts') }}" class="flex items-center gap-2">
        <img src="{{ asset('images/logo-clair.png') }}" alt="Logo Banque" class="h-10">
      </a>
    </div>

    <div class="flex items-center gap-8">
      <a href="{{ path('accounts') }}" class="text-lg font-semibold hover:underline">Mes Comptes</a>
      <a href="{{ path('list_beneficiaries') }}" class="text-lg font-semibold hover:underline">Bénéficiaires</a>
    </div>

 
  </div>
</header>
